# Ignore all 
* 

# Unignore all with extensions *.c *.h *.txt y Makefile 
!*.jpg
!*.json
!*.c 
!*.h 
!Makefile 
!*.txt
!*.cpp
!*.hpp
!*README*
!*make*
!*suite*
!*.gitignore
!*.md
!*.pdf
!*.py
# Unignore all dirs